<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title th:utext="#{fenchinghall}"></title>

    <meta name="description" content="Fenching Hall"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <!-- fenching hall -->
    <link rel="stylesheet" href="/css/style.css" />

</head>
<body>

<div id="header" class="header" th:fragment="header">
    <div class="header-left">
        <a href="../home.html"><img class="logo " src="/images/logo.jpg" /></a>
    </div>

    <div class="header-right">
        <div class="header-right-top">
                <div class="cTel">400-050-9900</div>
        </div>
            <ul id="nav">
                <li style="background:none;">
                    <a id="nav1" href="#"></a>
                </li>
                <li>
                    <a id="nav2" href="#"></a>
                    <ul>
                        <li>
                            <a href='#' class='hover'>集团介绍</a>
                        </li>
                        <li>
                            <a href='#'>企业文化</a>
                        </li>
                        <li>
                            <a href="#">万国视频</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="nav3" href="#"></a>
                    <ul>
                        <li>
                            <a href='#'>管理团队</a>
                        </li>
                        <li>
                            <a href='#'>明星教练</a>
                        </li>
                        <li>
                            <a href="#">教练视频</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="nav4" href="#"></a>
                    <ul>
                        <li>
                            <a href="#">击剑入门 </a>
                        </li>
                        <li>
                            <a href="#">击剑名将</a>
                        </li>
                        <li>
                            <a href="#">击剑讲堂</a>
                        </li>

                        <li>
                            <a href="#">击剑视频</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="nav5" href="#"></a>
                    <ul>
                        <li>
                            <a href='#'>公共课</a>
                        </li>
                        <li>
                            <a href='#'>私教课</a>
                        </li>
                        <li>
                            <a href='#'>等级介绍</a>
                        </li>
                        <li>
                            <a href='#'>赛事介绍</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="nav6" href="#"></a>
                    <ul>
                        <li>
                            <a href='#'>万国新闻</a>
                        </li>
                        <li>
                            <a href='#'>业内新闻</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="nav7" href="#"></a>
                    <ul style="width:70px;">
                        <li>
                            <a href='#'>2012</a>
                        </li>
                        <li>
                            <a href='#'>2011</a>
                        </li>
                        <li>
                            <a href='#'>2010</a>
                        </li>
                        <li>
                            <a href='#'>2009</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="nav8" href="#"></a>
                    <ul>
                        <li>
                            <a href="#">精彩瞬间</a>
                        </li>
                        <li>
                            <a href="#">成长日记</a>
                        </li>
                        <li>
                            <a href="#">明星剑客</a>
                        </li>
                        <li>
                            <a href="#">精彩视频</a>
                        </li>
                    </ul>
                </li>
            </ul>

    </div>

</div>



</body>
</html>