<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title th:utext="#{fenchinghall}"></title>

    <meta name="description" content="Fenching Hall"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <!-- fenching hall -->
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/stylebg.css"/>
    <!--  bg -->
    <link rel="stylesheet" href="/css/ace.min.css"/>
    <link rel="stylesheet" href="/css/ace-ie.min.css"/>
    <link rel="stylesheet" href="/css/ace-part2.min.css"/>
    <link rel="stylesheet" href="/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="/css/ace.min.css"/>


    <link rel="stylesheet" href="/css/bgstyle.css"/>
</head>

<body class="no-skin">
<div id="header" class="header">
    <div class="header-left">
        <a href="../home.html"><img class="logo " src="/images/logo.jpg"/></a>
    </div>

    <div class="header-right">
        <div class="header-right-top">
            <a class="fr btn-danger" style="text-align:center;width: 100px;height: 30px" href="/logout">退出</a>
        </div>


    </div>

</div>

<div id="main-container" class="main-container">
    <div>
        <h1>
            教练上传空闲时间
        </h1>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">首页</a>
                    </li>

                    <li>
                        <a href="#">教练空闲时间</a>
                    </li>
                </ul><!-- /.breadcrumb -->


            </div>


            <div class="page-content">

                <div class="page-header">
                    <h1>
                        <font>艾晖击剑</font>
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            <font>教练空闲时间列表</font>
                        </small>
                        <a class="inline pull-right" href="#">
                            <i class="ace-icon fa fa-plus-circle purple"></i></a>
                    </h1>
                </div><!-- /.page-header -->


                <div class="row">
                    <div class="col-sm-12">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">上传个人时间表</h4>
                            </div>
                            <br/>
                            <div class="widget-body">
                                <div class="widget-main no-padding">
                                    <form autocomplete="off" action="#" th:action="@{/bgeditschedule}"
                                          th:object="${schedule}" method="post" class="form-horizontal"
                                          role="form">
                                        <div class="form-group" style="display: none ">
                                            <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
																		<input type="text" th:field="*{id}"
                                                                               placeholder="" class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputError2"
                                                   class="col-xs-12 col-sm-3 control-label no-padding-right"
                                            >姓名</label>
                                            <!--th:utext="#{schedule.name}"-->
                                            <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
                                                                        <select class="chosen-select form-control"
                                                                                th:field="*{user}" id="name"
                                                                                data-placeholder="Choose a age...">
																		<option th:each="a : ${users}" th:value="${{a}}"
                                                                                th:text="${a.name}"></option>
																		</select>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputError2"
                                                   class="col-xs-12 col-sm-3 control-label no-padding-right"
                                            >当前年份</label>

                                            <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
                                                                        <input readonly="true" type="text"
                                                                               th:field="*{year}" placeholder=""
                                                                               class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputError2"
                                                   class="col-xs-12 col-sm-3 control-label no-padding-right"
                                            >当前周（第几周）</label>

                                            <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
                                                                        <input readonly="true" type="text"
                                                                               th:field="*{week}" placeholder=""
                                                                               class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputError2"
                                                   class="col-xs-12 col-sm-3 control-label no-padding-right"
                                            >起始时间</label>

                                            <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
                                                                        <input readonly="true" type="text"
                                                                               th:field="*{time}" placeholder=""
                                                                               class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputError2"
                                                   class="col-xs-12 col-sm-3 control-label no-padding-right"
                                            >周六早上</label>

                                            <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
																		<input type="text" th:field="*{satmor}"
                                                                               placeholder="" class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                            </div>
                                            <div class="help-block col-xs-12 col-sm-reset inline "><label
                                                    th:if="${#fields.hasErrors('satmor')}" th:errors="*{satmor}"
                                                    class="validation-message inline"></label></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputError2"
                                                   class="col-xs-12 col-sm-3 control-label no-padding-right"
                                            >周六下午</label>
                                            <!--th:utext="#{schedule.sataft}"-->
                                            <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
																		<input type="text" th:field="*{sataft}"
                                                                               placeholder="" class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                            </div>
                                            <div class="help-block col-xs-12 col-sm-reset inline "><label
                                                    th:if="${#fields.hasErrors('sataft')}" th:errors="*{sataft}"
                                                    class="validation-message inline"></label></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputError2"
                                                   class="col-xs-12 col-sm-3 control-label no-padding-right"
                                            >周六晚上</label>

                                            <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
																		<input type="text" th:field="*{satnig}"
                                                                               placeholder="" class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                            </div>
                                            <div class="help-block col-xs-12 col-sm-reset inline "><label
                                                    th:if="${#fields.hasErrors('satnig')}" th:errors="*{satnig}"
                                                    class="validation-message inline"></label></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputError2"
                                                   class="col-xs-12 col-sm-3 control-label no-padding-right"
                                            >周天上午</label>

                                            <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
																		<input type="text" th:field="*{sunmor}"
                                                                               placeholder="" class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                            </div>
                                            <div class="help-block col-xs-12 col-sm-reset inline "><label
                                                    th:if="${#fields.hasErrors('sunmor')}" th:errors="*{sunmor}"
                                                    class="validation-message inline"></label></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputError2"
                                                   class="col-xs-12 col-sm-3 control-label no-padding-right"
                                            >周天下午</label>

                                            <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
																		<input type="text" th:field="*{sunaft}"
                                                                               placeholder="" class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                            </div>
                                            <div class="help-block col-xs-12 col-sm-reset inline "><label
                                                    th:if="${#fields.hasErrors('sunaft')}" th:errors="*{sunaft}"
                                                    class="validation-message inline"></label></div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputError2"
                                                   class="col-xs-12 col-sm-3 control-label no-padding-right"
                                            >周天晚上</label>

                                            <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
																		<input type="text" th:field="*{sunnig}"
                                                                               placeholder="" class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                            </div>
                                            <div class="help-block col-xs-12 col-sm-reset inline "><label
                                                    th:if="${#fields.hasErrors('sunnig')}" th:errors="*{sunnig}"
                                                    class="validation-message inline"></label></div>
                                        </div>


                                        <div class="form-actions center">
                                            <button type="submit" class="btn btn-sm btn-success">
                                                <font th:utext="#{submit}"></font>
                                                <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div><!-- /.page-content -->

        </div>
    </div><!-- /.main-content -->


</div>

<div th:replace="fragments/bgfooter :: footer"></div>

<th:block th:replace="fragments/bgscript :: script"></th:block>
<script type="text/javascript" th:inline="javascript">
    window.onload = function () {
        menu();
    }
</script>

</body>
</html>
