<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bgframe :: head"></head>

<body class="no-skin">
<div th:replace="fragments/bgframe :: header"></div>

<div id="main-container" class="main-container">

    <div class="main_left">
        <h2></h2>
        <ul class="leftul">
            <li><a href="bgappointment" class="hover">预约列表</a></li>
            <li><a href="bgnotice">公告管理</a></li>
            <li><a href="bguser">用户列表</a></li>
            <li><a href="bgschedule">教练空闲统计</a></li>
        </ul>
    </div>

    <div class="main_right">
    <!--<div class="top"><img src="../images/course.jpg"/></div>-->
<div>&nbsp;</div>
    <div>
        <p style="line-height: 33px;font-size: 18px;font-family: 黑体">
            艾晖击剑运动中心隶属于重庆艾晖体育有限公司，2010年8月成立于重庆，起步于击剑运动培训，
            主营业务为：击剑运动培训、击剑赛事举办和击剑装备销售。艾晖击剑运动中心旨在促进击剑运动
            和击剑文化在重庆的普及发展，为广大青少年和成年人群提供专业化、高品质的击剑培训服务，我们
            承载着推广、促进重庆青少年击剑运动发展的使命而来。秉承“铸剑育人、承载未来”之理念，发现、
            培养、储备击剑人才，传播击剑文化；让更多的大众认识这项力量与智慧并存的贵族运动；让青少年通
            过击剑得到体魄的锻炼、品格的塑造及潜能的发掘，使其成为健康、高尚、优雅、坚韧和睿智的一代，
            为追求高品质享受的时尚人群，带来一个纯正的贵族运动体验。
        </p>
    </div>
    </div>
</div>

<div th:replace="fragments/bgfooter :: footer"></div>

<th:block th:replace="fragments/bgscript :: script"></th:block>
<script type="text/javascript" th:inline="javascript">
    window.onload = function () {
        menu();
    }
</script>

</body>
</html>
