<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bgframe :: head"></head>

<body class="no-skin">
<div th:replace="fragments/bgframe :: header"></div>

<div id="main-container" class="main-container">
    <div>
        <h1>
           用户新增
        </h1>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#" th:utext="#{home}"></a>
                    </li>

                    <li>
                        <a href="#" th:utext="#{user.us}"></a>
                    </li>
                </ul><!-- /.breadcrumb -->


            </div>


            <div class="page-content">

                <div class="page-header">
                    <h1>
                        <font th:utext="#{user.registration}"></font>
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            <font th:utext="#{user.add}"></font>
                        </small>
                    </h1>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h4 class="widget-title" th:utext="#{user.registration}"></h4>
                                    </div>
                                    <br/>
                                    <div class="widget-body">
                                        <div class="widget-main no-padding">
                                            <form autocomplete="off" action="#" th:action="@{/bgnewuser}"
                                                  th:object="${user}" method="post" class="form-horizontal"
                                                  role="form">
                                                <div class="form-group">
                                                    <label for="inputError2"
                                                           class="col-xs-12 col-sm-3 control-label no-padding-right"
                                                           th:utext="#{user.email}"></label>

                                                    <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
																		<input type="text" th:field="*{email}"
                                                                               placeholder="" class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-reset inline "><label
                                                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                                            class="validation-message inline"></label></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputError2"
                                                           class="col-xs-12 col-sm-3 control-label no-padding-right"
                                                           th:utext="#{user.name}"></label>

                                                    <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
																		<input type="text" th:field="*{name}"
                                                                               placeholder="Your name"
                                                                               class="width-100"/>
																	</span>
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-reset inline "><label
                                                            th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                                            style="color:#D16E6C" class="help-inline"></label></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputError2"
                                                           class="col-xs-12 col-sm-3 control-label no-padding-right"
                                                           th:utext="#{user.phone}"></label>

                                                    <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
																		<input type="text" th:field="*{phone}"
                                                                               placeholder="" class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-reset inline "><label
                                                            th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"
                                                            class="validation-message inline"></label></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputError2"
                                                           class="col-xs-12 col-sm-3 control-label no-padding-right"
                                                           th:utext="#{user.role}"></label>

                                                    <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
																		<select class="chosen-select form-control"
                                                                                th:field="*{role}" id="role"
                                                                                data-placeholder="Choose a Role...">

																		<option th:each="r : ${roles}" th:value="${{r}}"
                                                                                th:text="${r.roleName}"></option>
																		</select>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-reset inline "><label
                                                            th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
                                                            class="validation-message inline"></label></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputError2"
                                                           class="col-xs-12 col-sm-3 control-label no-padding-right"
                                                           th:utext="#{user.password}"></label>

                                                    <div class="col-xs-12 col-sm-5">
																	<span class="input-icon block">
																		<input type="password" th:field="*{password}"
                                                                               placeholder="" class="width-100"/>
                                                                        <!--i class="ace-icon fa fa-times-circle red"></i-->
																	</span>
                                                    </div>
                                                    <div class="help-block col-xs-12 col-sm-reset inline "><label
                                                            th:if="${#fields.hasErrors('password')}"
                                                            th:errors="*{password}"
                                                            class="validation-message inline"></label></div>
                                                </div>
                                                <div class="form-actions center">
                                                    <a href="/users" data-target="#forgot-box"
                                                       class="forgot-password-link">
                                                        <i class="ace-icon fa fa-arrow-left"></i>
                                                        <font th:utext="#{back}"></font>
                                                    </a>
                                                    <button type="submit" class="btn btn-sm btn-success">
                                                        <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                                                        <font th:utext="#{submit}"></font>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->

        </div>
    </div><!-- /.main-content -->


</div>

<div th:replace="fragments/bgfooter :: footer"></div>

<th:block th:replace="fragments/bgscript :: script"></th:block>
<script type="text/javascript" th:inline="javascript">
    window.onload = function () {
        menu();
    }
</script>

</body>
</html>
