<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/frame :: head"></head>

<body class="no-skin">
<div th:replace="fragments/frame :: header"></div>

<div id="main-container" class="main-container">

    <div class="main_left">
        <h2><a href="member"><img src="../images/list03.jpg"/></a></h2>
        <ul class="leftul">
            <li><a href="member" class="hover">会员风采</a></li>
            <li><a href="member_time">精彩瞬间</a></li>
        </ul>
    </div>

    <div class="main_right">

        <div class="img">
            <a target="_blank" href="/images/members/whr.jpg">
                <img src="/images/members/whr.jpg" alt="Ballade" width="160" height="160"/>
            </a>
            <div class="desc"><strong>吴皓儒</strong>
                <p> <br>曾今是别人眼中的小胖子，在剑道上挥洒汗水，刻苦训练，2018年万国击剑成都邀请赛一鸣惊人获得个人首金</br>
                </p></div>
        </div>

        <div class="img">
            <a target="_blank" href="/images/members/lxt.jpg">
                <img src="/images/members/lxt.jpg" alt="Ballade" width="160" height="160"/>
            </a>
            <div class="desc"><strong>吕欣恬</strong>
                <p> <br>热爱击剑的她，可不仅仅会击剑哟，公认的才女，就连大提琴演奏也非常不错哟</br>
                </p></div>
        </div>

        <div class="img">
            <a target="_blank" href="/images/members/dcy.jpg">
                <img src="/images/members/dcy.jpg" alt="Ballade" width="160" height="160"/>
            </a>
            <div class="desc"><strong>邓楚唁</strong>
                <p> <br>酷爱足球的他，就连获胜的庆贺方式也是标准的双膝跪地，不过，不用怀疑他对击剑的热爱</br>
                </p></div>
        </div>

        <div class="img">
            <a target="_blank" href="/images/members/yms.jpg">
                <img src="/images/members/yms.jpg" alt="Ballade" width="160" height="160"/>
            </a>
            <div class="desc"><strong>颜民松</strong>
                <p> <br>他是家长眼中的松松，却又是同伴口中的松松哥，真正有颜有技术的小哥哥哟</br>
                </p></div>
        </div>


        <div class="img">
            <a target="_blank" href="/images/members/wh.png">
                <img src="/images/members/wh.png" alt="Ballade" width="160" height="160"/>
            </a>
            <div class="desc"><strong>王浩</strong>
                <p> <br>外表清秀，很喜欢微笑的小男孩，都说爱笑的人运气都不会太差，在剑道上，他可是凭实力说话哟</br>
                </p></div>
        </div>

        <div class="img">
            <a target="_blank" href="/images/members/hye.jpg">
                <img src="/images/members/hye.jpg" alt="Ballade" width="160" height="160"/>
            </a>
            <div class="desc"><strong>胡钰儿</strong>
                <p> <br>击剑被誉为格斗中的芭蕾，而钰儿好的的诠释了这一点，击剑让她的舞姿更加美丽地绽放</br>
                </p></div>
        </div>

        <div class="img">
            <a target="_blank" href="/images/members/m.jpg">
                <img src="/images/members/m.jpg" alt="Ballade" width="160" height="160"/>
            </a>
            <div class="desc"><strong>胡安然</strong>
                <p> <br>唱歌，跳舞，俨然赛道上的小精灵。从不畏惧剑道上的失败，因为她是击剑精灵</br>
                </p></div>
        </div>

        <div class="img">
            <a target="_blank" href="/images/members/xx.jpg">
                <img src="/images/members/xx.jpg" alt="Ballade" width="160" height="160"/>
            </a>
            <div class="desc"><strong>箫雪</strong>
                <p> <br>平日里她是企业高管，压力来袭，艾晖击剑是她最写意的放松场合，剑道之上，一切不再重要</br>
                </p></div>
        </div>

        <div class="img">
            <a target="_blank" href="/images/members/aw.jpg">
                <img src="/images/members/aw.jpg" alt="Ballade" width="160" height="160"/>
            </a>
            <div class="desc"><strong>安维</strong>
                <p> <br>作为麦吉丽销售精英的她，不仅注重外在美丽，更是注重内心的修养，艾晖击剑是她的不二选择</br>
                </p></div>
        </div>




    </div>



</div>

<div th:replace="fragments/footer :: footer"></div>

<th:block th:replace="fragments/script :: script"></th:block>
<script type="text/javascript" th:inline="javascript">
    window.onload = function () {
        menu();
    }
</script>

</body>
</html>
