<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/frame :: head"></head>

<body class="no-skin">
<div th:replace="fragments/frame :: header"></div>

<div id="main-container" class="main-container">

    <div class="main_left">
        <h2><a href="member.html"><img src="../images/list03.jpg"/></a></h2>
        <ul class="leftul">
            <li><a href="member.html" class="hover">会员风采</a></li>
            <li><a href="member_time.html">精彩瞬间</a></li>
        </ul>
    </div>

    <div class="main_right">

        <div class="time">
            <a target="_blank" href="/images/members_time/1.jpg">
                <img src="/images//members_time/1.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">万国成都击剑邀请赛</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/2.jpg">
                <img src="/images//members_time/2.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">万国成都击剑邀请赛</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/3.jpg">
                <img src="/images//members_time/3.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">艾晖进校园--万盛中盛小学</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/4.jpg">
                <img src="/images//members_time/4.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">艾晖进校园--万盛中盛小学</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/5.jpg">
                <img src="/images//members_time/5.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">艾晖进校园--巴蜀中学</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/6.jpg">
                <img src="/images//members_time/6.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">艾晖进校园--重庆巴蜀中学</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/7.jpg">
                <img src="/images//members_time/7.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">艾晖进校园--重庆南开中学</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/8.jpg">
                <img src="/images//members_time/8.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">艾晖进校园--重庆南开中学</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/9.jpg">
                <img src="/images//members_time/9.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">艾晖进校园--重庆西大附中</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/10.jpg">
                <img src="/images//members_time/10.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">艾晖进校园--西大附中</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/11.jpg">
                <img src="/images//members_time/11.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">重庆市第一届击剑公开赛</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/12.jpg">
                <img src="/images//members_time/12.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">繁花下的格斗芭蕾--北城活动</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/13.jpg">
                <img src="/images//members_time/13.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">重庆市第二届击剑公开赛</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/14.jpg">
                <img src="/images//members_time/14.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">女子决赛淘剪影</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/15.jpg">
                <img src="/images//members_time/15.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">小剑客赛后合影</div>
        </div>

        <div class="time">
            <a target="_blank" href="/images/members_time/16.jpg">
                <img src="/images//members_time/16.jpg" alt="Ballade" width="160" height="180"/>
            </a>
            <div class="desc">少儿组个人小组赛剪影</div>
        </div>


    </div>

</div>


<div th:replace="fragments/footer :: footer"></div>

<th:block th:replace="fragments/script :: script"></th:block>
<script type="text/javascript" th:inline="javascript">
    window.onload = function () {
        menu();
    }
</script>

</body>
</html>
