<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/frame :: head"></head>

<body class="no-skin">
<div th:replace="fragments/frame :: header"></div>

<div id="main-container" class="main-container">

    <div class="main_left">
        <h2><a href="news"><img src="../images/list02.jpg"/></a></h2>
        <ul class="leftul">
            <li><a href="notice" class="hover">艾晖公告</a> </li>
            <li><a href="news">业内新闻</a></li>
        </ul>
    </div>

    <div class="main_right">
        <div class="right_2">
            <div class="title">艾晖公告</div>

            <div th:if="${noticeMeg}!=null" class="">

                <span class="text-center" th:utext="${noticeMeg}"></span>
            </div>
        </div>
    </div>


</div>

<div th:replace="fragments/footer :: footer"></div>

<th:block th:replace="fragments/script :: script"></th:block>
<script type="text/javascript" th:inline="javascript">
    window.onload = function () {
        menu();
    }
</script>

</body>
</html>
