<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/frame :: head"></head>

<body class="no-skin">
<div th:replace="fragments/frame :: header"></div>

<div id="main-container" class="main-container">

    <div class="top"><img src="../images/fencingworld.jpg"/></div>

    <div class="main_left">
        <h2><a href="fencingworld"><img src="../images/list04.jpg"/></a></h2>
        <script type="text/javascript" src="../js/leftnav.js"></script>

        <ul class="leftul">
            <li><a id="CC1_1" href="###" onclick="OpenClose1(1)" class="hover">击剑入门+</a>
                <ul id="C1_1" style="">
                    <script>oldOpen1 = 2</script>
                    <li><a href="fencingworld">击剑起源发展</a></li>

                    <li><a href="advantage" class="hover">击剑优势</a></li>

                    <li><a href="introduction">剑种介绍</a></li>

                    <li><a href="rule">比赛礼仪与规则</a></li>

                </ul>
            </li>


            <li><a id="CC1_2" href="###" onclick="OpenClose1(2)">击剑讲堂+</a>
                <ul id="C1_2" style="display:none;">

                    <li><a href="fencing">击剑专用术语</a></li>

                    <li><a href="power">击剑体能</a></li>

                </ul>
            </li>

        </ul>
    </div>

    <div class="main_right">
        <div class="right_3">
            <h2 class="right3h2" style="text-align: center">击剑体能</h2>
            <div>&nbsp;</div>
            <p><span style="font-size: 13px"><span style="font-size: 13px"><span style="font-family: 宋体">体能，一直以来都是各项运动中后期技能提升的基础之所在。在击剑运动中，
                比赛时除了进攻和防守上的体力消耗，还有紧张、精神高度集中、思考战术对策等因素的影响，此时体能在比赛中的重要性就越发凸显了出来。</span></span></span>
            </p>
            <p>&nbsp;</p>

            <div><span style="font-size: 13px"><span style="font-family: 宋体">一、一般有氧耐力训练</span></span></div>
            <p>&nbsp;</p>
            <div><span style="font-size: 13px"><span style="font-family: 宋体"> &nbsp;&nbsp;&nbsp;由于击剑比赛单场时间不长但整场持续
                时间长的特征，在一场比赛中，选手要始终保持 反复快速移动的能力，所有技术动作始终要体现出快、准、狠、变的风格，这些都对选手的耐力素质提出了严峻的考验。
                因此，选手平时更要注意进行与比赛负荷相符合的有氧耐力训练。比如：几公里的长距离慢跑、长距离的游泳、长距离的骑自行车、跑楼梯等练习，且必须保证时间上
                达到与比赛相接近的时间。</span></span>
            </div>
            <div>&nbsp;</div>

            <div><span style="font-size: 13px"><span style="font-family: 宋体">二、速度训练</span></span></div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体"><br>1、  步伐训练</br>
                <br>以击剑实战姿势站立，沿着剑道延伸方向连续向前或后退平稳移动，从而提高步伐移动速度和耐力。</br>
                <br>2、  弓步训练</br>
                <br>根据自身身高，设计中远距离启动点，前脚站在起点上，完成向前一步弓步刺靶。训练时刺点目标要集中，完成动作舒展连贯。
                完成刺靶后退回起点，重复进行18次，锻炼弓步的进攻速度、深度和动作的连贯性。</br>
                <br>3、  冲刺训练</br>
                <br>以实战姿势持剑，原地启动冲刺，然后转身接下一个冲刺，重复进行15次，以训练冲刺的速度、力量、深度，以及完成动作的平稳和控制剑的能力。</br>
            </span></span>
            </div>
            <div>&nbsp;</div>

            <div><span style="font-size: 13px"><span style="font-family: 宋体">三、力量训练</span></span></div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体"><br>1、  上肢力量训练</br>
                <br>  两名训练者面对面保持持剑实战姿势站立，利用四、七或六、二击打对方的剑。此训练旨在提高持剑手臂的专项力量，为更好地控制剑的摆动方向。</br>
                <br>2、  下肢力量训练</br>
                <br>弓步蛙跳；蛙跳；后蹬跑；负重提踵；单足跳；静蹲等</br>
                </span></span>
            </div>
            <div>&nbsp;</div>

            <div><span style="font-size: 13px"><span style="font-family: 宋体">四、核心力量训练</span></span></div>
            <p>&nbsp;</p>
            <div><span style="font-size: 13px"><span style="font-family: 宋体"> &nbsp;&nbsp;&nbsp;核心力量部位是最接近身体重心的中间环节，
            包括髓关节和腰，主要是腹背肌群的力量。核心力量对于击剑运动来说尤其重要。而进行核心力量的训练，则需要用到组合器械来进行辅助。</span></span>
            </div>
            <div>&nbsp;</div>

            <div><span style="font-size: 13px"><span style="font-family: 宋体">五、柔韧性练习</span></span></div>
            <p>&nbsp;</p>
            <div><span style="font-size: 13px"><span style="font-family: 宋体"> &nbsp;&nbsp;&nbsp; 柔韧性主要是通过静力和动力的拉伸、摆动、
                压等方式，对手臂、肩关节、背部、髋关节和腿部进行练习。包括：跪撑压肩、肩上举加力向后拉肩、分腿坐姿体侧曲臂上伸、侧弓步跪立体侧前屈、坐姿屈膝分腿手
                下压、下叉等练习。</span></span>
            </div>
            <div>&nbsp;</div>

            <p>&nbsp;</p>


        </div>

    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

<th:block th:replace="fragments/script :: script"></th:block>
<script type="text/javascript" th:inline="javascript">
    window.onload = function () {
        menu();
    }
</script>

</body>
</html>
