<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/frame :: head"></head>

<body class="no-skin">
<div th:replace="fragments/frame :: header"></div>

<div id="main-container" class="main-container">

    <div class="main_left" style="padding-left:10px;">


    </div>

    <div class="main_right">
        <div class="right_2">
            <ul class="login">
                <li><img src="../images/login.jpg ">
                    <form th:action="@{/register}" method="post" class="form-signin">
                        <ul class="left-form">
                            <h2> 注 册 </h2>
                            <li>
                                <input type="text" placeholder="Username" required="">
                                <a href="#" class="icon ticker"> </input></a>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <input type="text" placeholder="Email" required="">
                                <a href="#" class="icon ticker"> </input></a>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <input type="password" placeholder="password" required="">
                                <a href="#" class="icon into"> </input></a>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <input type="password" placeholder="password" required="">
                                <a href="#" class="icon into"> </input></a>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <input type="number" placeholder="Phone" required="">
                                <a href="#" class="icon ticker"></input></a>
                                <div class="clear"></div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </form>
                </li>
            </ul>
        </div>


    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <th:block th:replace="fragments/script :: script"></th:block>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function () {
            menu();
        }
    </script>

</body>
</html>


