<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/frame :: head"></head>

<body class="no-skin">
<div th:replace="fragments/frame :: header"></div>

<div id="main-container" class="main-container">

    <div class="top"><img src="../images/fencingworld.jpg"/></div>

    <div class="main_left">
        <h2><a href="fencingworld.html"><img src="../images/list04.jpg"/></a></h2>
        <script type="text/javascript" src="../js/leftnav.js"></script>

        <ul class="leftul">
            <li><a id="CC1_1" href="###" onclick="OpenClose1(1)" class="hover">击剑入门+</a>
                <ul id="C1_1" style="">
                    <script>oldOpen1 = 2</script>
                    <li><a href="fencingworld.html">击剑起源发展</a></li>

                    <li><a href="advantage.html" class="hover">击剑优势</a></li>

                    <li><a href="introduction.html">剑种介绍</a></li>

                    <li><a href="rule.html">比赛礼仪与规则</a></li>

                </ul>
            </li>


            <li><a id="CC1_2" href="###" onclick="OpenClose1(2)">击剑讲堂+</a>
                <ul id="C1_2" style="display:none;">

                    <li><a href="fencing.html">击剑专用术语</a></li>

                    <li><a href="power.html">击剑体能</a></li>

                </ul>
            </li>

        </ul>
    </div>

    <div class="main_right">
        <div class="right_3">
            <h2 class="right3h2" style="text-align: center">比赛礼仪与规则</h2>
            <p>&nbsp;</p>
            <p><span style="font-size: 13px"><span style="font-size: 13px"><span style="font-family: 宋体">击剑是两人在14米剑道上通过前后移动与
                交锋最后以刺中对手为目的的一项双人对抗比赛。每击中对手一剑得一分，循环赛三分钟内先得5分为胜。单败淘汰赛三局9分钟先得15分为胜。团体赛共9局，
                每局三分钟5分，先得45分为胜。</span></span></span>
            </p>
            <p>&nbsp;</p>

            <p><span style="font-size: 13px"><span style="font-family: 宋体"><b>比赛礼仪</b></span></span></p>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">现在击剑在中世纪的欧洲是骑士们的必修课，在那个时候 , 击剑的剑术和
                骑士的荣誉是息息相关的。现代人类已经把击剑当作是休闲健身活动了。击剑也是一项很多礼仪的一项竞技运动。</span></span>
            </div>
            <div>&nbsp;</div>

            <div><span style="font-size: 13px"><span style="font-family: 宋体">两名击剑爱好者（或运动员）之间的友好交锋叫做“实战”；如果
                这种交锋（竞赛）记录成绩，便叫做“比赛”。</span></span>
            </div>
            <div>&nbsp;</div>

            <div><span style="font-size: 13px"><span style="font-family: 宋体">穿好击剑服装，左手持护面，右手持剑；剑尖向下，丁字步于剑道
                中线2米后站好，先向对手行礼，然后向裁判和观众行礼。礼毕后，戴好护面，听到裁判的“准备”口令，做出实战姿势，准备比赛。比赛结束后先
                摘下护面向对手、裁判、观众行礼，双方选手用非持剑手握手才能结束比赛。 比赛过程中， 必须服从裁判判决，严禁与裁判或对手争执。裁判应
                严格执法，以利于业余击剑爱好者内在素养上的提高。及时叫“停”，纠正提醒警告业余击剑爱好者不良的言行，诸如：行为粗野，动作粗暴，
                动作不规范，违反击剑规则，跌跌撞撞。对手无论何种原因摔倒在剑道上时，均不可再继续追击对手。
            </span>&nbsp;</span>
                <div>&nbsp;</div>

            </div>
            <div><strong><span style="font-size: 13px"><span style="font-family: 宋体">比赛规则</span></span></strong></div>

            <p><span style="font-size: 13px"><span style="font-family: 宋体">击剑运动有三种武器：重剑、花剑、佩剑。三种武器的有效击中
                点及比赛规则亦有不同，故每种武器都有其竞技特点。相比而言，花剑更具运动性，佩剑速度最快，重剑则更需要技巧和准确性。</span></span>
            </p>
            <div>&nbsp;</div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">1.预备</span></span></div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">比赛在一点五到一点八米宽，十四米长的剑道上来进行。当裁
                判宣布准备比赛时，双方队员在离中心线两米处就位。选手以实战姿势准备，手中剑指向对手，未握剑的手在身体一侧自然上举（以不遮挡有效
                部位为准）。运动员每得一分都回到开始线以实战姿势准备重新比赛。</span></span>
            </div>
            <div>&nbsp;</div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">2.得分</span></span></div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">使用重剑、花剑、佩剑击中，就是用剑尖刺击对手，使剑尖
                清楚地、准确无误地刺在有效部位并具有刺入的性质。到达对手身体的任何部位的击中，都是有形的、实体的、实质性的击中。为了使之成
                为有效的击中并得分，落点必须在有关剑种规定的有效部位内。</span></span>
            </div>
            <div>&nbsp;</div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">重剑是完全刺击武器。只有剑尖击中有效，剑身横击无效。
                击中有效部位包括全身即：躯干，腿脚，手及臂以及头盔。与花剑及佩剑不同，重剑每次击中都有效。若双方在四分之一秒内相互击中，双
                方各得一次击中数。最容易被击中的部位是手。所以，重剑比赛需高度准确性，攻击对方的好机会常常是当对方开始攻击的时候。两位选手
                的剑尖分别装有红光和绿光探测器。击中发生时，剑尖会产生一束强光。</span></span>
            </div>
            <div>&nbsp;</div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">花剑是完全的刺击武器。只有剑尖刺中才有效，剑杆横击
                无效。有效击中部位是上身。击中有效部位由金属衣裹覆，这样，电子仪器便可以分出有效和无效击中。花剑比赛也讲究击中优先权。先攻
                击而击中者得分。被攻击者须先做出有效抵挡动作后再进攻击中才有效。双方同时击中均不得分。在此情况下，击中优先权很难区分，如有
                时剑触及手臂，在花剑中是无效部位。</span></span>
            </div>
            <div>&nbsp;</div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">佩剑是既劈又刺的武器。在实战中，以劈中得分为多。击
                中有效部位是上身，头盔及手臂。击中有效部位由金属衣裹覆，这样，电子仪器便可以分出有效和无效击中。佩剑比赛也讲究击中优先权。
                先攻击而击中者得分。被攻击者须先做出有效抵挡动作后再进攻击中才有效。双方同时击中均不得分。佩剑速度最快也往往用得时间最短。</span></span>
            </div>
            <div>&nbsp;</div>
            <div><span style="font-size: 13px"><span
                    style="font-family: 宋体">如果电子仪器显示一位队员得分，裁判会当即中止比赛，双方队员预备后继续进行比赛。</span></span></div>
            <div>&nbsp;</div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">3.平局</span></span></div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">在九分钟内，如果双方平分，那么将加赛一分钟，使用突然
                死亡法。为了防止双方过分防守，加赛前抽签决定如果加时赛中双方都未得分，那谁会是胜者。</span></span>
            </div>
            <div>&nbsp;</div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">4.团体比赛</span></span></div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">团体比赛，每一位选手与对方的三位选手轮流比赛。先获得
                5分的选手为胜，然后选手交叉进行比赛，最先获得45分的团队为胜。</span></span>
            </div>
            <div>&nbsp;</div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">5.犯规与处罚</span></span></div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">比赛重新开始后，一般情况都是从同一地点开始比赛(判罚
                丧失场地除外)。判罚丧失场地一般是把比赛的现场向犯规的团体移一米。如果选手的双腿都触底线，将被罚击中一剑。</span></span>
            </div>
            <div>&nbsp;</div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">警告后，重犯同一错误，也会被罚击中一剑。象在佩剑中
                的冲刺冲撞，在花剑中故意做身体接触，在重剑中推挤对手也属于故意身体接触行为。都会被罚击中一剑</span></span>
            </div>
            <div>&nbsp;</div>
            <div><span style="font-size: 13px"><span style="font-family: 宋体">转身背向对手、剑尖在场地上非法拖划和重刺或者用不持
                剑手遮盖避免被击中都是犯规行为。第一次给以黄牌警告，如果再犯，将出示红牌判罚被对方击中一剑。对那些更为严重的犯规，比如报复
                与粗暴冲撞以及与对手串通舞弊，将会直接出示黑牌驱逐出场。</span></span>
            </div>
            <p>&nbsp;</p>
        </div>

    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

<th:block th:replace="fragments/script :: script"></th:block>
<script type="text/javascript" th:inline="javascript">
    window.onload = function () {
        menu();
    }
</script>

</body>
</html>
