<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/bgframe :: head"></head>

<body class="no-skin">
<div th:replace="fragments/bgframe :: header"></div>

<div id="main-container" class="main-container">



</div>

<div th:replace="fragments/bgfooter :: footer"></div>

<th:block th:replace="fragments/bgscript :: script"></th:block>
<script type="text/javascript" th:inline="javascript">
    window.onload = function () {
        menu();
    }
</script>

</body>
</html>
